.DS_Store
.externalNativeBuild

# IntelliJ
*.iml
.idea/*
.cxx
/build
/captures

# Gradle files
.gradle/
build/

# Android Studio captures folder
debug/
release/

# Local configuration file (sdk path, etc)
local.properties